<div class="container">
  <div class="d-flex justify-content-between">
    <h2 class="mb-4">All my bookings</h2>
    <%= link_to "Back to products", products_path %>
  </div>
    <% @bookings.each do |b| %>
      <div class="booking-line row">
        <div class="col-1">
          <%= cl_image_tag(b.product.photo.key,
                            :background=>"#F4F4F4",
                            width: 60,
                            height: 60,
                            crop: :fill) %>
        </div>
      <div class="col-1">
        <%= b.product.name %>
      </div>
      <div class="col-1">
        <span class="category-tag"><%= b.product.category %></span>
      </div>
      <div class="col-2">
        <%= "From #{b.start_date.strftime("%d/%m/%Y")} to #{b.end_date.strftime("%d/%m/%Y")}" %>
      </div>
      <div class="col-2">
        Total cost: <%= b.total_price %>
      </div>
      <div class="col-2">
        Owner: <%= b.product.user.first_name %> <%= b.product.user.last_name %>
      </div>
      <div class="col-2">
        Address: <%= b.user.address %>
      </div>
      <div class="col-1" data-controller="validate">
        <span data-validate-target="validateElement" data-action="load@window->validate#colorizeBookingTag" class="status-tag"><%= b.status %></span>
      </div>
    </div>
    <% end %>
  </div>
</div>

<h2>Comments and Ratings</h2>
 <%= form_with(model: [@booking, @product_rating], url: product_product_ratings_path(product_id: @booking.product_id)) do |form| %>
  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: 'btn btn-primary' %>
  </div>
<% end %>
