<h2>All my bookings</h2>
<% @bookings.each do |b| %>
  <%= cl_image_tag(b.product.photo.key) %>
  <h3><%= b.product.name %></h3>
  <p>loué par <%= b.product.user.email %></p>
  <p><%= "du #{b.start_date} au #{b.end_date}" %></p>
  <p>Prix: <%= b.product.price_per_day * ((b.end_date - b.start_date)/86_400).ceil %>€</p>
  <%# <%= button_to  %>
<% end %>

<h2 class="mt-5">All products I have rented</h2>
<% @owned_bookings.each do |b| %>
  <%= cl_image_tag(b.product.photo.key) %>
  <h3><%= b.product.name %></h3>
  <p>loué à <%= b.user.email %></p>
  <p><%= "du #{b.start_date} au #{b.end_date}" %></p>
  <p>Prix: <%= b.product.price_per_day * ((b.end_date - b.start_date)/86_400).ceil %>€</p>
  <%# <%= button_to  %>
<% end %>
