<div class="container">
  <div class="d-flex justify-content-between">
    <h2 class="mb-4">All my bookings</h2>
    <%= link_to "Back to products", products_path %>
  </div>
    <% @bookings.each do |b| %>
      <div class="booking-line row">
        <div class="col-1">
          <%= cl_image_tag(b.product.photo.key,
                            :background=>"#F4F4F4",
                            width: 60,
                            height: 60,
                            crop: :fill) %>
        </div>
      <div class="col-1">
        <%= b.product.name %>
      </div>
      <div class="col-1">
        <span class="category-tag"><%= b.product.category %></span>
      </div>
      <div class="col-2">
        <%= "From #{b.start_date.strftime("%d/%m/%Y")} to #{b.end_date.strftime("%d/%m/%Y")}" %>
      </div>
      <div class="col-2">
        Total cost: <%= b.total_price %>
      </div>
      <div class="col-2">
        Owner: <%= b.product.user.first_name %> <%= b.product.user.last_name %>
      </div>
      <div class="col-2">
        Address: <%= b.user.address %>
      </div>
      <div class="col-1" data-controller="validate">
        <span data-validate-target="tag" class="status-tag d-none"><%= b.status %></span>
      </div>
      <div class="mt-2">
        <% if b.rating.rating %>
          You rated this booking: <%= b.rating.rating %>
        <% else %>
          <%= link_to "Add a rating", new_rating_path(b) %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
