<div class="container">
<div class="d-flex justify-content-between">
  <h2 class="mb-4">My sales portfolio</h2>
  <%= link_to "Back to products", products_path %>
</div>
  <% @owned_bookings.each do |b| %>
    <div class="booking-line row">
      <div class="col-1">
        <%= cl_image_tag(b.product.photo.key,
                          :background=>"#F4F4F4",
                          width: 60,
                          height: 60,
                          crop: :fill) %>
      </div>
      <div class="col-1">
        <%= b.product.name %>
      </div>
      <div class="col-1">
        <span class="category-tag"><%= b.product.category %></span>
      </div>
      <div class="col-2">
        <%= "From #{b.start_date.strftime("%d/%m/%Y")} to #{b.end_date.strftime("%d/%m/%Y")}" %>
      </div>
      <div class="col-2">
        Total cost: <%= b.total_price %>
      </div>
      <div class="col-2">
        To: <%= b.user.first_name %> <%= b.user.last_name %>
      </div>
      <% if b.status == "Pending" %>
        <div class="col-3">
          <%= render "form_validation", booking: b %>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
