<div class="container">
  <div class="d-flex justify-content-between">
    <h2 class="mb-4">My sales portfolio</h2>
    <%= link_to "Back to products", products_path %>
  </div>
  <div data-controller="validate">
    <% @owned_bookings.each do |b| %>
      <div class="booking-line row">
        <div class="col-1">
          <%= cl_image_tag(b.product.photo.key,
                            :background=>"#F4F4F4",
                            width: 60,
                            height: 60,
                            crop: :fill) %>
        </div>
        <div class="col-1">
          <%= b.product.name %>
        </div>
        <div class="col-1">
          <span class="category-tag"><%= b.product.category %></span>
        </div>
        <div class="col-3">
          <%= "From #{b.start_date.strftime("%d/%m/%Y")} to #{b.end_date.strftime("%d/%m/%Y")}" %>
        </div>
        <div class="col-2">
          Total cost: <%= b.total_price %>
        </div>
        <div class="col-2">
          To: <%= b.user.first_name %> <%= b.user.last_name %>
        </div>
        <div class="col-2 d-flex">
          <div>
            <p data-validate-target="tag" class="status-tag d-none mb-0"><%= b.status %></p>
          </div>
          <% if b.status == "Pending" %>
            <div class="d-flex align-items-center">
              <%= button_to booking_path(b),
                                      method: :patch,
                                      class: "border-0 bg-white text-success",
                                      params: { booking: { status: "Accepted" } },
                                      data: { action: "click->validate#acceptBooking"} do %>
                                        <i class="fa-regular fa-circle-check fs-5"></i>
              <% end %>
              <%= button_to booking_path(b),
                                      method: :patch,
                                      class: "border-0 bg-white text-danger",
                                      params: { booking: { status: "Declined" } },
                                      data: {action: "click->validate#declineBooking"} do %>
                                        <i class="fa-solid fa-trash fs-5" data-action="click->validate#declineBooking"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
