<div class="container">
  <div class="d-flex justify-content-between">
    <div>
      <h2><%= @products.first.user.first_name %> <%= @products.first.user.last_name %></h2>
      <p><%= @products.first.user.address %></p>
    </div>
    <%= button_to "Back to all products", products_path, class: "btn btn-primary", method: :get %>
  </div>
  <div class="cards">
    <% @products.each do |product| %>
      <div class="card" style="max-width:300px;">
        <h3><%= product.name %></h3>
        <%= cl_image_tag(product.photo.key) %>
        <%= link_to "See details", product_path(product) %>
      </div>
    <% end %>
  </div>
</div>
