<div class="row">
  <div class="col-6">
    <div class="container" style="max-width: 80%">
      <h2 class="mb-4">Add a new product to rent</h2>
      <%= simple_form_for @product do |f| %>
        <%= f.input :category, :collection => Product::PRODUCT_CATEGORIES %>
        <%= f.input :name %>
        <%= f.input :details %>
        <%= f.input :price_per_day %>
        <%= f.input :photo, as: :file %>
        <%= f.button :submit, "Add product", class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div class="col-6">
    <%= image_tag "yellow-ski-drawing.jpg", alt: "yellow ski", width: "100%", height: "550px" %>
  </div>
</div>
