<div class="container">
  <h1 class="mb-3"><%= @product.name %></h1>
  <div class="row gx-5 mb-4">
    <div class="col-4">
      <span class="category-tag mb-3"><%= @product.category %></span>
      <%= cl_image_tag(@product.photo.key,
                        :background=>"#F4F4F4",
                        width: 350,
                        crop: :fill) %>
    </div>
    <div class="col-4 product-show-details">
      <div class="product-show-details-top">
        <span class="fs-5 fw-bold mb-3">Description</span>
        <p><%= @product.details %></p>
      </div>
      <div class="product-show-details-bottom">
        <div class="divider"></div>
        <span class="fs-5 fw-bold mb-3">Owner</span>
        <p><%= @product.user.first_name %> <%= @product.user.last_name %> - <%= link_to " all products", user_products_path(@product.user) %></p>
        <div class="divider"></div>
        <span class="fs-5 fw-bold mb-3">Address</span>
        <p><%= @product.user.address %></p>
      </div>
    </div>
    <div class="col-4 booking-card">
      <h2 class="mb-3">Book this product</h2>
      <p><strong class="fs-4">€<%= @product.price_per_day.round %></strong>/day</p>
      <%= render "bookings/form" %>
    </div>
  </div>
  <%= link_to "Back to products", products_path %>
<% if @product.rating %>
  <p>Current Rating: <%= @product.rating %></p>
<% else %>
  <p>No rating yet.</p>
<% end %>

<% if current_user %>
  <%= form_with(url: product_ratings_path(@product), method: :post) do |f| %>
    <%= f.label :rating %>
    <%= f.number_field :rating, in: 1..5 %>
    <%= f.submit "Submit Rating" %>
  <% end %>
<% else %>
  <p>Please sign in to rate this product.</p>
<% end %>
</div>
